[Unit]
Description=Daily mytime database backup
Requires=mytime-backup.service

[Timer]
OnCalendar=*-*-* 00:04:00 Pacific/Auckland
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
